{
  "env": {
    "es6": true,
    "node": true,
  },
  "extends": [
    "airbnb-base",
    "eslint-config-prettier"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "plugins": ["prettier", "module-resolver"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "camelcase": [
      1,
      {
        "properties": "always"
      }
    ],
    "no-console": 1,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-underscore-dangle": 0,
    "linebreak-style": 0,
    "max-len": ["error", {"code": 100, "ignoreUrls": true}],
    "no-mixed-operators": "error",
    "prettier/prettier": "error",
    "prefer-arrow-callback": "error",
    "no-var": "error"
  }
}

